body {
	font-family: "Microsoft YaHei"
}

a {
	color: #fff;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

.card > .thumbnail > .caption > span {
	margin-top: 5px;
	display: block;
}

.card .title{
	font-size: 16px;
}

.card .bookName{
	font-size: 14px;
}

.card .year{
	font-size: 13px;
}

.card .poster{
	height: 230px;
}

.card .operateBtn{
	width: 100%;
	margin-bottom: 5px;
}

.card .operateBtn > button{
	width: 50%;
}

.card .operateBtn a{
	width: 100%;
	display: block;
}
